* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  position: relative;
  background: rgb(24, 26, 27);
  font-family: Arial;
}

.upper-nav {
  display: flex;
  justify-content: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  flex-wrap: nowrap;
}

.upper-bar-left {
  display: flex;
  margin-left: 5px;
  margin-top: 20px;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.upper-bar-right {
  display: flex;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 20px;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  vertical-align: middle;
  float: left;
}

.upper-nav-item {
  color: rgb(220, 220, 220);
  padding: 0 5px;
  margin: 0 5px;
  text-decoration: none;
  font-size: 0.8em;
}

.material-icons {
  color: rgba(220, 220, 220, 0.8);
  font-size: 24px;
}

.material-icons:hover {
  color: rgba(220, 220, 220, 1);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.btn-login {
  background: rgb(14, 68, 158);
  color: rgb(220, 220, 220);
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-weight: bold;
}

.sign-in {
  color: rgb(220, 220, 220);
  text-decoration: none;
  font-weight: bold;
}

.page-container {
  width: 100%;
  margin: 75px 0 55px 0;
}

.google-logo {
  width: 250px;
  height: auto;
  display: block;
  margin: auto;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.searchbar {
  padding: 0 50px;
  width: 45%;
  min-width: 325px;
  color: rgb(220, 220, 220);
  font-size: 1em;
  height: 45px;
  background: rgb(24, 26, 27);
  border: 1px solid rgb(74, 79, 82);
  border-radius: 50px;
  background-image: url("https://www.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png");
  background-position: 5px 7px;
  background-size: 30px;
  background-repeat: no-repeat;
}

.searchbar:focus,
.searchbar:hover {
  border: 1px solid rgba(74, 79, 82, 0.6);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-submit,
.btn-lucky {
  box-sizing: content-box;
  margin: 0 5px;
  padding: 8px 15px;
  font-size: 0.9em;
  color: rgb(200, 200, 200);
  background: rgb(32, 34, 36);
  border: 1px solid rgb(74, 79, 82);
}

.btn-submit:hover,
.btn-lucky:hover {
  cursor: pointer;
  color: rgb(245, 243, 243);
  background: rgba(32, 34, 36, 0.6);
}

.ad-container {
  margin: 35px 0;
  height: 300px;
  font-size: 0.8em;
  text-align: center;
}

p {
  color: rgb(200, 200, 200);
}

.link-ad {
  color: rgb(121, 121, 252);
  text-decoration: none;
}

.link-nav:hover,
.link-ad:hover {
  text-decoration: underline;
}

.lower-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
  background: rgb(31, 34, 35);
  width: 100%;
  height: 100px;
  position: absolute;
  border-top: 1px rgba(51, 56, 58, 0.8) solid;
}

.lower-bar-left {
  display: flex;
  justify-content: center;
  margin-left: 0;
}

.lower-bar-right {
  display: flex;
  justify-content: center;
  margin-right: 0;
}

.lower-nav-item {
  color: rgb(220, 220, 220);
  padding: 0 5px;
  margin: 0 5px;
  text-decoration: none;
  font-size: 0.9em;
}

@media only screen and (min-width: 650px) {
  .upper-bar-left {
    margin-left: 15px;
  }

  .upper-bar-right {
    margin-right: 20px;
  }

  .lower-nav {
    height: 50px;
    flex-direction: row;
    justify-content: flex-start;
  }

  .lower-bar-left {
    align-items: center;
    margin-left: 20px;
  }

  .lower-bar-right {
    margin-left: auto;
    align-items: center;
    margin-right: 20px;
  }

  .lower-nav-item,
  .upper-nav-item {
    font-size: 0.9em;
    padding: 0 7px;
  }

  .material-icons {
    font-size: 28px;
  }

  .btn-login {
    padding: 5px 15px 5px 15px;
  }
}
